.tablesize {
    width: 300px;
    height: 450px;
}

td {
    text-align: center;
    font-size : 30px;
    background-color: beige;
}

input {
    width: 300px;
    height : 40px;
    background-color: gray;
}
